= render partial: 'shared/arcade_searchbar' ,   locals: { tags: ShopTag.all, checked_shop_tag_ids: [] , prefecture_id: 23, key_words: ''}
br
= render partial: 'shared/iidx_searchbar' , locals: { tags: MachineTag.all, checked_machine_tag_ids: [], prefecture_id: 23, iidx_machine_id: nil, iidx_monitor_id: nil, iidx_version_id: nil, key_words: '', serial_no: '' }
