$main-color: #3C2F41;
$title-bg-color: #94719B;
$button-color: #f1f1f1;

@mixin text-color($color: #000) {
  color: $color;
}

@mixin link-color($color: #000) {
  color: $color;
  text-decoration: none;

  &:hover {
    color: lighten($color, 15%);
    text-decoration: underline;
  }

  &:visited {
    color: desaturate($color, 50%);
  }
}

a {
  @include link-color($main-color);
}

.link {
  a {
    @include link-color(#FFF);
  }
}

.navbar {
  position: fixed;
  z-index: 1;
  display: flex;
  background-color: #FFF;
  color: $main-color;
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
  a {
    @include link-color($main-color);
    font-size: 1.5rem;
  }

  &__left {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: .5rem .5rem .5rem 1.5rem;
    text-align: left;
  }

  &__right {
    width: 50%;
    padding: .5rem .5rem .5rem 1.5rem;
    text-align: right;
  }
}

.content {
  background-color: $main-color;
  color: #FFF;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.yieldcontent {
  width: 100%;
}

.context {
  position: relative;
  max-width: 900px;
  margin: auto;
  padding: 1.5rem;
  width: 100%;
}

#buttons {
  width: 100%;
  text-align: right;
  a {
    width: 100%;
    margin: auto 1 auto 0;
    padding: 1rem .5rem 1rem .5rem;

    .buttonlabel {
      border-radius: .5rem .5rem .5rem .5rem;
      background-color: #FFF;
      padding: .5rem 1rem .5rem 1rem;
      text-align: center;
    }
  }

  .btn {
    width: 100%;
    margin: auto 1 auto 0;
    padding: 1rem .5rem 0 .5rem;
    border-radius: .5rem .5rem .5rem .5rem;
    background-color: $button-color;
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

#title {
  .title {
    font-size: 2rem;
    margin-right: 1rem;
    line-height: 3.5rem;
  }
}

#machine {
  margin-top: 1rem;

  .machine {
    font-size: 2rem;
    margin-right: 1rem;
  }
}

.tags {
  background-color: #FFF;
  color: $main-color;
  border-radius: .5rem;
  padding: 1rem;

  span {
    background-color: #c1b1d1;
    color: #515151;
    border-radius: 4px;
    padding: .5rem 1rem .5rem 1rem;
    margin: .25rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }

  span:hover {
    background-color: #B481BB;
    cursor: pointer;
  }
}

.selectbox {
  height: 2rem;
  font-size: 1.2rem;
  margin: .5rem 0 .5rem 0;
  border-color: $title-bg-color;
  border-radius: .5rem;
}

.click_to_search {
  padding-left: 3rem;
  font-size: 0.5rem;
}

.tag input[type="checkbox"] {
  display: none;
}

.tag span {
  background-color: $button-color;
  color: #515151;
  border-radius: 4px;
  padding: .5rem 2rem .5rem 2rem;
  margin: 0 .5rem .5rem 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.tag span:hover {
  background-color: #B481BB;
  cursor: pointer;
}

.tag input[type="checkbox"]:checked+span {
  background-color: #77428D;
  color: $button-color;
}

.contentBox {
  background: #fff;
  border-radius: .5rem;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  @include text-color($main-color);

  .box-title {
    background-color: $title-bg-color;
    color: #f1f1f1;
    font-size: 1.5rem;
    padding: 1.2rem;
    text-align: center;
    width: 100%;
  }

  .box-contexts {
    margin: auto;
    width: 100%;
  }

  .box-context {
    display: flex;
    width: 100%;
  }

  .box-context-title {
    background-color: #77428D;
    border-top: 1px solid $title-bg-color;
    color: #f1f1f1;
    padding: 1.2rem;
    text-align: center;
    width: 40%;
  }

  .box-context-body {
    border-top: 1px solid #B481BB;
    font-size: 1.3rem;
    padding: 1.2rem;
    width: 60%;
  }
}

#map {
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
  border: 0;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
ul.pagination li {
  display: inline;
  background-color: #FFF;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: .5rem;

  a {
    @include link-color($main-color);
  }
}

ul.pagination li.active {
  display: inline;
  background-color: $title-bg-color;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: .5rem;

  a {
    @include link-color($main-color);
  }
}

p.search-block {
  padding: .25rem;
  margin-right: 1rem;
}
